<ion-header collapse="condense">
  <ion-toolbar color="dark">
    <ion-title size="large">Gila Bola Banget</ion-title><br />
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center"><br />All League England</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-card>
              <ion-card-header>
                <img src="../../assets/premier-league-logo.png" height="60" (click)="seasionPage()" expand="block">
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-card>
              <ion-card-header>
                <img src="../../assets/laliga-logo.png" height="60">
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-card>
              <ion-card-header>
                <img src="../../assets/premier-league-logo.png" height="60"><br />
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-card>
              <ion-card-header>
                <img src="../../assets/laliga-logo.png" height="60"><br />
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-card>
              <ion-card-header>
                <img src="../../assets/premier-league-logo.png" height="60"><br />
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-card>
              <ion-card-header>
                <img src="../../assets/laliga-logo.png" height="60"><br />
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-card>
              <ion-card-header>
                <img src="../../assets/premier-league-logo.png" height="60"><br />
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-card>
              <ion-card-header>
                <img src="../../assets/laliga-logo.png" height="60"><br />
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
